/* ------------ overall body and page styling ------------ */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background: url("assets/home/background-home-mobile.jpg");
}

/* ----------- sidebar styling --------------- */
.sidebar {
    float: right;
    width: 254px;
    margin-right: -254px;
    height: 100%;
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: .6s all;
}

.sidebar-open {
    margin-right: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.link-page:nth-child(1) {
    margin-top: 118px;
}

.link-page {
    margin-top: 33px;
}

/* -------------- Burger styling ----------------- */
.btn {
    top: 22px;
    right: 17px;
    position: absolute;
    width: 24px;
    height: 21px;
    transform: rotate(-0.5turn);
    transition: all 0.5s ease-out;
}


/* ----------- close btn ------------- */
.close-btn {
    top: 22px;
    right: 17;
    width: 21px;
    height: 21px;
    transform: rotate(0.5turn);
    transition: all 0.5s ease-out;
}