@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

html body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/*
######################################################################
               Superior part
######################################################################
*/
#logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  left: 24px;
}

/* -------------- Burger styling ----------------- */
.btn {
  width: 24px;
  height: 21px;
  position: fixed;
  top: 22px;
  right: 17px;
  transform: rotate(-0.5turn);
  transition: all 0.5s ease-out;
  z-index: 5;
}

/* ----------- close btn style------------- */
.close-btn {
  width: 21px;
  height: 21px;
  top: 22px;
  right: 17;
  transform: rotate(0.5turn);
  transition: all 0.5s ease-out;
  z-index: 5;
}

main {
  margin-top: 0px;
  padding-top: 13.97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
.explore {
  font-family: "Bellefair", serif;
}

h1 {
  margin: 0px;
  padding: 0.5rem 0rem;
  color: white;
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
}

#textBeforeTitle,
.link-page {
  font-family: "Barlow Condensed", sans-serif;
}

#textBeforeTitle,
#textAfterTitle {
  color: #d0d6f9;
}

#textBeforeTitle {
  letter-spacing: 0.169rem;
  font-size: 1rem;
  text-transform: uppercase;
}

#textAfterTitle {
  margin: 0px;
  padding: 0.5625rem 1.5rem;
  font-family: "Barlow", sans-serif;
  font-size: 0.938rem;
  text-align: center;
  line-height: 1.56rem;
}

.explore {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 100px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11.1vh;
}

.explore > p {
  color: #0b0d17;
  font-size: 20px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  display: block;
}

/*
######################################################################
               Sidebar
######################################################################
*/
.sidebar {
  width: 0px;
  position: fixed;
  right: -254px;
  overflow: hidden;
  z-index: 0;
  transition: 0.6s all;
}

.sidebar-open {
  width: 254px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  right: 0;
  backdrop-filter: blur(50px);
  z-index: 5;
}

.sidebarChildContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.link-page:nth-child(1) {
  margin-top: 118px;
}

.link-page {
  width: 100%;
  margin-top: 33px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  letter-spacing: 0.169rem;
  text-decoration: none;
  /* estilo de borde para colocar segun en la pagina que este
  border-right: 4px solid #fff; */
}

.link-page > span {
  font-weight: 700;
}

/*
######################################################################
              01 Destination page
######################################################################
*/

p {
  color: #d0d6f9;
}

.textBeforeTitle-destination {
  margin:-2px 0px 35px 0px;
}

.mainImgPlanet {
  width: 170px;
  height: 170px;
  margin: 0px;
}


.containerTabs {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.destinationTab {
padding: 29px 0px 10px 0px;  
margin-bottom: 12px;
font-size: 14px;
font-weight: 400;
color:  white;
text-transform: uppercase;
text-decoration: none ;
font-family: "Barlow Condensed";
line-height: 17px;
letter-spacing: 2.3625px;
}

.main-title-destination {
  font-size: 3.5rem;
  padding: 10px 0px 0px 0px;
}

.textAfterTitle-destination {
  margin-top: 0px;
  line-height: 25px;
}

hr {
  margin: 23px 0px 20px 0px;
  width: 80%;
  opacity: .5;
  height: 1px;
  z-index: -1;
}

.containerDescriptionDestinations {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 0px;
  height: 100xp;
}

.descriptionData {
  margin: 0px;
  padding: 12px 10px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.3625px;
  font-size: 0.88rem;
  font-weight: 400;
}

.dataDestination {
  margin: 0px;
  padding-top:2px;  
  padding-bottom: 20px;
  color: white;
  font-family: Bellefair;
  font-size: 1.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

#endGapFix {
  padding-bottom: 28px;
}
/*
######################################################################
        03 Crew
######################################################################
*/

.mainImgCrew {
  margin-top: 10px;
  width: 177.12px;
  height: 222px;
}

.bulletsContainer {
  border-top: 1px solid #666B88;
  width: 87.20%;
  height: 10px;
  display: flex;
  justify-content: center;
  padding: 39px 0px;
}

.crewBullets {
  width: 10px;
  height: 10px;
  margin: 0px 8px;
  padding: 0px;
  background: #666B88;
  border-radius: 100px;
}

.activeBullet {
  background: white;
}

.subtitleCrew {
  margin: 0px;
  font-size: 1rem;
  opacity: 0.5;
  text-transform: uppercase;  
  font-family: Bellefair;
}

.crewName {
  font-size: 1.5rem;
}

.textAfterNameCrew {
  padding-bottom: 30px !important;
}

/*
######################################################################
    04 Technology
######################################################################
*/
.imgTech {
  width: 100%;
  height: 170px;
  

}


