@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

html body {
  overflow-x: hidden !important;

  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
}

*,
*::before,
*::after {
  /*border: 1px solid white;*/
  overflow-x: hidden !important;
  box-sizing: inherit;
}

/*
######################################################################
    Superior part
######################################################################
*/
#logo {
  position: absolute;
  top: 24px;
  left: 24px;

  width: 40px;
  height: 40px;
}

#logo:hover, .explore:hover {
  cursor:pointer;
}

/* -------------- Burger styling ----------------- */
.btn {
  position: fixed;
  z-index: 5;
  top: 22px;
  right: 17px;

  width: 24px;
  height: 21px;

  transition: all 0.5s ease-out;
  transform: rotate(-0.5turn);
}

/* ----------- close btn style------------- */
.close-btn {
  z-index: 5;
  top: 22px;
  right: 17;

  width: 21px;
  height: 21px;

  transition: all 0.5s ease-out;
  transform: rotate(0.5turn);
}

main {
  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 13.97vh;

  align-items: center;

  overflow-x: hidden !important;
}

h1,
.explore {
  font-family: "Bellefair", serif;
}

h1 {
  font-size: clamp(
    80px,
    calc(6.572769953051644vw + 55.352112676056336px),
    150px
  );
  font-weight: 400;

  margin: -28px 0 0 0;
  padding: 0.5rem 0rem;

  text-transform: uppercase;

  color: white;
}

#textBeforeTitle,
.link-page {
  font-family: "Barlow Condensed", sans-serif;
}

#textBeforeTitle,
#textAfterTitle {
  color: #d0d6f9;
}

main > p:first-child {
  font-size: clamp(
    16px,
    calc(1.1267605633802817vw + 11.774647887323944px),
    28px
  );

  letter-spacing: 0.169rem;
  text-transform: uppercase;
}

#numberPageId {
  color: gray;
  padding-right: 17px;
}

h1 + p {
  font-family: "Barlow", sans-serif;
  font-size: clamp(
    15px,
    calc(0.28169014084507044vw + 13.943661971830986px),
    18px
  );
  line-height: 1.56rem;

  margin: 0 11%;
  padding: 0.5625rem 0 20px 0;

  text-align: center;
}

.explore {
  display: flex;

  width: 150px;
  height: 150px;
  margin-top: 10vh;

  vertical-align: middle;

  border-radius: 100%;
  background: white;

  align-items: center;
  justify-content: center;
}

.explore > p {
  font-size: clamp(
    20px,
    calc(1.1267605633802817vw + 15.774647887323944px),
    32px
  );

  display: block;

  letter-spacing: 1.25px;
  text-transform: uppercase;

  color: #0b0d17;
}

/*
######################################################################
    Sidebar
######################################################################
*/
.sidebar {
  position: fixed;
  z-index: 0;
  right: -254px;

  overflow: hidden;

  width: 0;

  transition: 0.6s all ease-out;
}

.sidebar-open {
  position: fixed;
  z-index: 5;
  right: 0;

  overflow: hidden;

  width: 254px;
  height: 100%;

  backdrop-filter: blur(50px);
}

.sidebarChildContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;
}

.link-page:nth-child(1) {
  margin-top: 118px;
}

.link-page {
  font-size: 1rem;
  font-weight: 400;

  width: 100%;
  margin-top: 33px;
  padding-left: 32px;

  text-decoration: none;
  letter-spacing: 0.169rem;

  color: white;
  /* estilo de borde para colocar segun en la pagina que este
  border-right: 4px solid #fff; */
}

.link-page > span {
  font-weight: 700;
}

/*
######################################################################
    01 Destination page Mobile
######################################################################
*/

p {
  color: #d0d6f9;
}

.textBeforeTitle-destination {
  margin-top: -21px;
}

.mainImgPlanet {
  width: 170px;
  height: 170px;
  margin: 15px 0 0 0;
}

.containerTabs {
  display: flex;

  width: 236px;

  justify-content: space-between;
}

.destinationTab {
  font-family: "Barlow Condensed";
  font-size: clamp(
    14px,
    calc(0.18779342723004694vw + 13.295774647887324px),
    16px
  );
  font-weight: 400;
  line-height: 17px;

  margin-bottom: 12px;
  padding: 27px 0 10px 0;

  text-decoration: none;
  letter-spacing: 2.3625px;
  text-transform: uppercase;

  color: white;
}

.main-title-destination {
  font-size: clamp(
    56px,
    calc(4.131455399061033vw + 40.50704225352113px),
    120px
  );

  margin: -32px 0 0 0;
  padding: 10px 0 0 0;
}

.textAfterTitle-destination {
  line-height: 25px;

  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 0;
  padding-bottom: 25px;

  border-bottom: 1px solid gray;
}

hr {
  z-index: -1;

  width: 80%;
  height: 1px;
  margin: 23px 0 20px 0;

  opacity: 0.5;
}

.containerDescriptionDestinations {
  display: flex;
  flex-direction: column;

  height: 100xp;
  padding: 0;

  align-items: center;
}

.descriptionData {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.88rem;
  font-weight: 400;

  margin: 0;
  padding: 12px 10px;

  letter-spacing: 2.3625px;
  text-transform: uppercase;
}

.dataDestination {
  font-family: Bellefair;
  font-size: 1.75rem;
  font-weight: 400;

  margin: 0;
  padding-top: 2px;
  padding-bottom: 20px;

  text-transform: uppercase;

  color: white;
}

/*
######################################################################
    03 Crew Mobile
######################################################################
*/
.crewSubHeading {
  margin-top: -11px;
}

.mainImgCrew {
  width: 177.12px;
  height: 222px;
  margin-top: 10px;
}

.bulletsContainer {
  display: flex;

  width: 87.2%;
  height: 10px;
  padding: 39px 0;
  padding-top: 37px;
  padding-bottom: 43px;

  border-top: 1px solid #666b88;

  justify-content: center;
}

.crewBullets {
  width: 10px;
  height: 10px;
  margin: 0 8px;
  padding: 0;

  border-radius: 100px;
  background: #666b88;
}

.bullet-page-hover:hover {
  background: #d0d6f9;
}

.activeBullet {
  background: white;
}

.subtitleCrew {
  font-family: Bellefair;
  font-size: clamp(16px, calc(1.971830985915493vw + 8.6056338028169px), 37px);

  margin: 0;

  text-transform: uppercase;

  opacity: 0.5;
}

.crewName {
  font-size: clamp(
    24px,
    calc(3.004694835680751vw + 12.732394366197184px),
    56px
  );

  margin: 0;
}

.textAfterNameCrew {
  width: 88%;
}

html body {
  padding: 0px;
}

/*
######################################################################
    04 Technology
######################################################################
*/
.subHeadTech {
  margin-top: -12px;
  margin-bottom: 31px;
}

.imgTech {
  width: 100%;
  height: 155px;

  background-position: 50% 82% !important;
  background-size: 104% !important;
  overflow-x: hidden;
}

.beforeName {
  font-family: "Barlow Condensed";
  font-size: clamp(
    14px,
    calc(0.18779342723004694vw + 13.295774647887324px),
    16px
  );
  font-weight: 400;
  line-height: 17px;

  height: 17px;
  padding-top: 12px;

  text-align: center;
  letter-spacing: 2.3625px;
  text-transform: uppercase;

  color: #d0d6f9;
  overflow-y: hidden;
}

.containerNumbesTech {
  display: flex;

  width: 150px;
  padding-top: 33px;

  justify-content: space-between;
  align-items: center;
}

.tabNumbers {
  font-family: "Bellefair";
  font-size: clamp(
    16px,
    calc(1.5023474178403755vw + 10.366197183098592px),
    32px
  );
  line-height: 40px;
  width: 40px;
  height: 40px;

  text-align: center;
  text-decoration: none;

  color: white;
  border-radius: 100px;
}

.tabNumber-page-hover:hover {
  border: 1px solid #d0d6f9 !important;
}

.mainTextTech {
  width: 90%;
}

.link-page-hover:hover {
  border-bottom: 2px solid #d0d6f9 !important;
  transition: all 0.5seg ease-out;
}

/*
######################################################################
  Vistas para tablets 
######################################################################
*/
@media only screen and (min-width: 768px) {

#logo {
  width: 48px;
  height: 48px;
  margin: 0px 0px 0px 14px
}
  /*
######################################################################
  00 Home Tablets
######################################################################
*/
  main {
    margin-bottom: 40px;
  }
  #btn {
    display: none;
  }

  .sidebar-nonSmall {
    position: absolute;
    z-index: 5;
    right: 0;

    box-sizing: border-box;
    width: clamp(
      250px,
      calc(54.460093896713616vw + 45.774647887323965px),
      830px
    );
    height: 96px;

    background: rgba(255, 255, 255, 0.04);
  }

  .sidebarChildContainer {
    display: flex !important;
    flex-direction: row;

    box-sizing: border-box;

    justify-content: space-around;
    align-items: center;
  }

  #number0,
  #number1,
  #number2,
  #number3 {
    display: none;
  }
  .link-page:nth-child(1) {
    margin: 0;
  }

  .link-page {
    width: auto;
    margin: 0;
    padding: 37px 0px;
    text-align: center;
    align-self: center;
  }

  .textBeforeTitle-home-tablet {
    margin: 52px 0px 25px;
  }

  h1 {
    font-size: clamp(
      150px,
      calc(1.488095238095238vw + 138.57142857142858px),
      160px
    );
  }

  h1 + p {
    width: 445px;
    padding: 32px 19.5% 0px 19.5%;
  }

  .explore {
    width: 242px;
    height: 242px;
    margin-top: 9.3vh;
  }
  /*
######################################################################
  01 Destination Tablets
######################################################################
*/
  .main-padingTop-noHome {
    padding-top: 50px;
  }

  .crewSubHeading,
  .textBeforeTitle-destination,
  .subHeadTech,
  .textBeforeTitle-123-tablet {
    margin-top: 88px;
    margin-left: -392px;
    width: 300px;
  }

  .mainImgPlanet-tablet {
    width: 300px;
    height: 300px;
    margin: 62px 0px 10px 0px;
  }

  .containerTabs-tablet {
    width: 40%;
    margin-top: 16px;
  }

  .main-title-destination-tablet {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .textAfterTitle-destination-tablet {
    width: 570px;
    padding: 40px 0px 30px 0px;
  }

  body > main > div:nth-child(8) {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  /*
######################################################################
  02 Crew Tablet
######################################################################
*/
  .main-crew-tablet {
    display: grid;
    height: 100%;
    margin-bottom: 0px;
    grid-template-rows: repeat(5, 1fr), 5fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6";
  }

  .subHeading-gridItem {
    grid-area: item1;
  }

  .subTitle-gridItem {
    grid-area: item2;
    padding: 60px 0px 5px 0px;
  }

  .nameCrew-gridItem {
    grid-area: item3;
  }

  .textAfterTitleCrew-gridItem {
    grid-area: item4;
    width: 458px !important;
    padding-top: 10px;
    line-height: 28px;
  }

  .containerTabsCrew-gridItem {
    grid-area: item5;
    padding: 12px 0px 30px 0px;
    border: 0px;
  }

  .mainImgCrew-gridItem {
    grid-area: item6;
    height: 565px;
    width: auto;
  }

  html body {
    padding: 0px !important;
  }
  /*
######################################################################
  03 Technology Tablet
######################################################################

*/

  .imgTechDiv-tech-tablet {
    margin-top: 18px;
    height: 310px;
  }

  .containerTabs-tech-tablet {
    padding-top: 78px;
    width: 215px;
  }

  .tabNumbers {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    line-height: 60px;
  }

  .subTitle-tech-tablet {
    padding-top: 30px;
  }

  .main-title-tech-tablet {
  }

  .textAfterTitle-tech-tablet {
    width: 460px;
    padding-top: 10px;
    line-height: 27px;
  }
}

/*
######################################################################
  Vista para Desktop
######################################################################
*/
@media only screen and (min-width: 1200px) {
  #logo {
    margin: 44px 0px 0px 35px ;
  }

  #number0,
  #number1,
  #number2,
  #number3 {
    display: inline;
  }

.sidebar {
  margin-top:40px;
  padding-left: 66px;
}
.sidebarChildContainer {
  width: 830px;
}
/*
######################################################################
  00 Home Desktop
######################################################################
Todo queda pendiente aplicar la distribucion de contenido en home
*/
.main-home-desktop {
  gap: 100px;
  padding: 88px 169px 0px 169px;
  display: grid;
  height: 100%;
  margin-bottom: 0px;
  grid-template-rows: .5fr repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  align-items: center;
  overflow-x: hidden;
  grid-template-areas:
      "none none"
      "item1 item4"
      "item2 item4"
      "item3 item4";
  z-index: -3 !important;
}

.textBeforeTitle-home-desktop {
grid-area: item1;
place-self: center center;
border-top:1px solid gray; 
height: 65px;
width: 30vw;
padding: 0px 4vw 0px 0px;
margin-top: 0px;
}

.main-title-home-desktop {
grid-area: item2;
margin-top: -126px;
padding: 0px;
}

.textAfterTitle-home-desktop {
grid-area: item3;
text-align: justify;
padding: 0px;
margin: -209px 0px 0px 0px;
line-height: 32px;
}

.explore {
  grid-area: item4;
  width: 274px;
  height: 274px;
  margin: 0px 10% 0px 37%;
}



}
